@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
}

:root {
  --background-color: #fff;
  --input-border-color: #d1d5db;
}

[data-theme="dark"] {
  --background-color: #191919;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e293b;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}
